/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Style WebsiteKu */

body {
  background-color: #ddd;
  font: 16px/28px arial, sans-serif;
  background-image: url(img/Background\ web.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.topbar {
  width: 100%;
  height: 30px;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-image: url(img/topbar.jpg);
}

.topbar .selamat {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.container {
  width: 960px;
  /* height: auto; */
  margin: 45px auto auto auto;
  background-color: white;
}

.logo .facebook {
  width: 60px;
  height: 100px;
  background-image: url(img/facebook2.png);
  text-indent: -9999px;
  display: inline-block;
  position: absolute;
  top: 70px;
  right: 300px;
}

.logo .instagram {
  width: 60px;
  height: 100px;
  background-image: url(img/instagram2.png);
  text-indent: -9999px;
  display: inline-block;
  position: absolute;
  top: 70px;
  right: 365px;
}

.header {
  padding: 40px;
  padding-bottom: 15px;
}

.header h1 {
  font-size: 50px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}

.header ul li {
  display: inline-block;
  margin-right: 10px;
  margin-top: 30px;
}

.header ul li a {
  text-decoration: none;
  color: salmon;
  padding: 5px;
  transition: 0.3s;
}

.header ul li a:hover {
  color: white;
  background-color: lightskyblue;
}

.hero {
  height: 470px;
  background-image: url(img/hero.jpg);
  background-size: cover;
  background-position: 0 -90px;
  border-top: 5px solid salmon;
  border-bottom: 5px solid lightskyblue;
}

/* MAIN */
.main {
  width: 600px;
  float: left;
  padding: 30px;
  box-sizing: border-box;
}

.main h2 {
  font-size: 35px;
  font-weight: bold;
}

.main .penulis {
  font-size: 12px;
  margin-top: -5px;
}

.main .penulis a {
  text-decoration: none;
  color: salmon;
}

.main p {
  margin-bottom: 15px;
}

.sidebar {
  width: 300px;
  padding: 15px;
  float: right;
  background-color: navajowhite;
}

.sidebar h3 {
  font-weight: bold;
}

.sidebar img {
  width: 90px;
  float: left;
  padding-right: 14px;
  padding-bottom: 14px;
  margin-top: 10px;
}

.sidebar p {
  font: 15px/18px arial, sans-serif;
}

.footer {
  background-color: #333;
  padding: 10px;
}

.footer .copy {
  color: whitesmoke;
  text-align: center;
}

.footer .copy a {
  text-decoration: none;
  color: whitesmoke;
  transition: 0.3s;
}

.footer .copy a:hover {
  color: lightskyblue;
}

/* clearfix */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
.cf {
  *zoom: 1;
}
